# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/

# Notebooks
.ipynb_checkpoints/

# Data files
data/
faiss/faiss_index/

# Streamlit secrets
.streamlit/secrets.toml
app/.streamlit/


# Model & cache files
*.log
*.pkl
*.npy
*.pt
*.ckpt

# System files
.DS_Store

# Docker-related
*.env

