# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/processed/
data/chunks/
embeddings/
venv/
faiss_index/
.streamlit/secrets.toml

# System files
.DS_Store
*.log
*.pkl
*.npy
*.pt
*.ckpt
