--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
requests
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-experimental
faiss-cpu
huggingface-hub>=0.23.2
sentence-transformers>=3.0.0
transformers>=4.45.0
torch>=2.4.0
numpy<2